@{
    Layout = "";
}


<html>
<head>
    <title>Shayan Kamalzadeh</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Admin/style.css">
    <link rel="stylesheet" href="~/css/Admin/Menu.css">
</head>

<section id="container">
    <header id="header">
        <h1>Shayan Kamalzadeh</h1>
    </header>
    <nav id="menu">
        <a href="">Home</a>
        <a href="@Url.Action("Layout", "Admin")">Who I am</a>
        <a href="@Url.Action("XML", "Admin")">XML Generator</a>
    </nav>

    <article id="main">
        <h2>Introduction</h2>
        <br>
        <img id="im1" src="~/img/Shayan.gif">
        <p>
            I am a. Net developer who loves learning more and sharing my knowledge. I am studying Data science at Pavia university for my master's degree.
        </p>
        <video id="myv" src="~/img/unipv.mp4" width="720" controls>
            Sorry, your browser does not support the VIDEO tag
        </video><br><br>
        <audio src="~/img/bach.mp3" controls>
            Sorry, your browser does not support the AUDIO tag
        </audio>
    </article>
    <aside id="sidebar">
        <h3></h3>
        <ul>
            <li><a href="@Url.Action("XML", "Admin")">XML Generator</a></li>
            <li><a href="@Url.Action("Layout", "Admin")" ><span>Layout Sample</span></a></li>
        </ul>
    </aside>
    <footer id="footer">
        <p style="margin-left: 1em">
            &copy; All rights reserved - 2021
        </p>
        <br/>
        <div id="myfont">
            use font in css
        </div>
    </footer>
</section>




</html>

