<!DOCTYPE html>

<html>

<head>

    <title>Registration form</title>
    <meta charset="utf-8">

    <style>
        #formstruct {
            display: table;
        }

        #labels, #inputs {
            display: table-cell;
        }
    </style>

    <script src="~/js/My.js"></script>
</head>
<body>
    <script>
    var today = new Date();
        document.write("<h2>Date: " + today.getDate() + "/" +
            (today.getMonth() + 1) + "/" +
            today.getFullYear() + ", Time: " +
            today.getHours() + ":" +
            today.getMinutes() + "</h2>");</script>

    <hr width="40%" align="left">

    <h1 style="font-family: sans-serif">Registration Form</h1>

    <form name="registration" id="registration" action="/Admin/Xml" method="post">
        <div id="formstruct">
            <div id="labels">
                <label for="surname">Family </label><br>
                <label for="name">First name</label><br>
                <label for="birthyear">Birth year</label><br>
            </div>

            <div id="inputs">
                <input name="surname" id="surname" size="20"><br>
                <input name="name" id="name" size="20"><br>
                <input name="birthyear" id="birthyear" size="3" onclick="calculateYears()"><br>
            </div>
        </div>

        (so you are or going to be&nbsp
        <input name="years" id="years" size="1" readonly>)<br><br>

        <button type="submit" onclick="checkForm()">Send</button>
    </form>
</body>
</html>
<canvas width="200" height="200" id="canv"></canvas>